    *{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    ul {
        margin: 0; 
        padding-left: 50px;
        padding-top: 0px;
        padding-bottom: 5px;
        list-style: none;
        background-color: rgb(192, 230, 136);
    }
    li {
        width: 350px;
        text-indent:inherit;
    }

    .menu>ul {
        height: 20px;
    }

    .menu>ul>li {
        display: inline-block;
        position: relative;
    }

    .menu>ul>li>ul {
        display: none;
        position: absolute;
        top: 20px;
        padding-left: 0px;
    }
    .menu>ul>li>ul li {
        padding: 5px 0;
    }
    .menu ul li:hover ul {
        display: block;
    }
    html{
        background: url(https://media.istockphoto.com/photos/instruments-in-white-wooden-background-picture-id1219335974?k=20&m=1219335974&s=612x612&w=0&h=pV-_xowqm4PXP780HBps68uRvGvAAu3tNNqUxP0PFsc=);
        background-repeat: no-repeat;
        background-size: cover;
    }
    span{
        padding-left: 10px;
    }